.centers{
  background-color:black;
  font-size:20px;
  color:white;
  font-align:center;
  text-align:center;
  align-content: center;
  align-items:center;
  margin-left: auto;
  margin-right: auto;

}

.realCenter{
  text-align:center;

}

.buttons {
  line-height: 12px;
  height:10%;
  width:15%;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  float: right;
}

.buttonsRight {
  line-height: 12px;
  height:5%;
  width:15%;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  float: left;
}

select.selector{
  line-height: 22px;
  width:50%;
  height:26px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  float:right;
  text-align:center;

}

.buttonsTwo {
  line-height: 12px;
  height:5%;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;

}

.search{
  display:flex;
  align-items: center;
  justify-content: center;


  font-size:10px;
  font-align:center;
  text-align:center;
  align-content: center;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  width:95%;
}
container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
#buttonTwo {
  line-height: 22px;
  height:10%;
  width:45%;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;

}


.buttonThree {
  line-height: 22px;
  width:45%;
  height:5%;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;

}

.headers{
  background-color:black;
  font-size:10px;
  color:white;
  font-align:center;
  text-align:center;
  align-content: center;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}


.mainImage{
  display:block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  align-items:center;

}


.type{
  background-color:black;
  text-color:white;
  font-size:10px;
  font-align:center;
  text-align:center;
  align-content: center;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

.box{
  height: 95vh;
  margin-left:auto;
  background-color:white;
  align-content: center;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  border: 25px solid black;
  margin-top: +10.59px;
  background-image:url(../chat/basic.png)
}

.buttonOne{
  width:100%;
  color:white;
}


.corner {
  line-height: 12px;
  width: 50px;
  height:50px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
}


tr {
  border-bottom: 1px solid #ddd;
  background: white;
  padding: 20px;
  height: 50px;
  width: 100px;
  background-color: #555;
  border-radius: 50%;
}

td {

  width:50%;
  align-items:center;
  height:0.5%;
  font-size:20px;
  border: 2px solid black;
}
th {
  width:5%;
  border: 5px solid #ddd
}
.btn-bot {
  position: absolute;
  bottom: -100%;
}

table {
  border-collapse:separate;
  border:solid black 1px;
  border-radius:2px;
  -moz-border-radius:10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  overflow:hidden;
  border-radius: 10px;
  width:40%;
}

