
<div id="intro">
  <div class="box">
    <h1 class="realCenter"> CHAT ROOM </h1>

    <div class="container">

      <h3 class="realCenter"> Welcome {{user}}  <img height='30' width='30' src='{{imageFull}}'></h3>
   <span class="buttons">
      <button class="buttonThree" (click)="createRoom()"> ADMIN </button>
     </span>

      <span class="buttons">
        <form>
          <select class="selector" [(ngModel)]="roomlist" (change)="getList()"  selected="roomlist" id="roomlist" name="roomlist">


             <option>Default</option>

          <option *ngFor="let message of listValue" [value]="message.value"> {{message.value}} </option>
        </select>
        </form>
      </span>
      <span class="buttons">
        <form>
          <select class="selector" [(ngModel)]="channelList"  (change)="changeChannel()" id="channelList" name="channelList">
          <option>Channel</option>
            <option *ngFor="let message of channels"> {{message}} </option>
        </select>
        </form>
      </span>

      <span class="buttonsRight">
      <button class="buttonThree" (click)="sendMessage()" > CONTROL  </button>
      <button class="buttonThree" (click)="logOut()"> LOGOUT </button>
      </span>


    <br>
      <br>

<br>




      <form>
        <input class="search" [(ngModel)]="value" name='value' id='value'>
      </form>

      <br>

      <button (click)="insertProduct()"> ADD </button>
      <table style="width: 100%">

        <tr *ngFor = "let prod of valu">

          <Td colspan="1"  style="width: 90%"> <img height='30' width='30' src="../../assets/{{prod.image}}"> {{prod.user}} saids {{prod.value}} </Td>
          <Td colspan="1" style="width: 10%"> {{prod.channel}}</Td>

          <button (click)="deleteProduct(prod)"> DELETE</button>
        </tr>
      </table>


    </div>
  </div>
</div>




