
<div class="box">
  <h1 class="centers"> User Control  </h1>
  <div class="container">
    <div id="intro">


      <form>
        <input [(ngModel)]="value" name='value' id='value'>
        <button (click)="insertProduct()"> ADD </button>
      </form>

     <button id="button"  (click)="sendMessage()"> BACK </button>
      <table>
        <tr *ngFor = "let prod of listValue">
          <Td> {{prod.value}}</Td>


          <button (click)="deleteProduct(prod)"> DELETE </button>
        </tr>
      </table>


  </div>
</div>
</div>

